---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Contacto from '../components/Contacto.astro';
import Hero from '../components/Hero.astro';
import Info from '../components/Info.astro';
import Proyectos from '../components/Proyectos.astro';
import Tecnologias from '../components/Tecnologias.astro';
---

<Layout title="Portafolio">
	<Header />
	<main>
		<Hero />
		<Info />
		<Proyectos />
		<Tecnologias />
		<Contacto />
	</main>
	<Footer />
</Layout>

