<section>
    <article class="contact">
        <div class="container">
          <h2>Contacto</h2>
          <p>¡Me encantaría saber de ti! Puedes ponerte en contacto conmigo a través de los siguientes medios:</p>
      
          <ul class="contact-list">
            <li>Email: <a href="mailto:tucorreo@example.com">tucorreo@example.com</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/tuusuario" target="_blank" rel="noopener noreferrer">Tu Usuario</a></li>
            <li>Twitter: <a href="https://twitter.com/tuusuario" target="_blank" rel="noopener noreferrer">@TuUsuario</a></li>
            <!-- Agrega más detalles de contacto según sea necesario -->
          </ul>
      
          <p>Espero con interés escuchar de ti y trabajar juntos en futuros proyectos.</p>
        </div>
      </article>
</section>