<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-social">
        <a href="https://twitter.com/tuusuario" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter">twitter</i>
        </a>
        <a href="https://www.linkedin.com/in/tuusuario" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin">Linkedin</i>
        </a>
        <a href="https://github.com/tuusuario" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github">GitHub</i>
        </a>
        <!-- Agrega más iconos y enlaces según tus redes sociales -->
      </div>
      <p>&copy; 2023 Tu Nombre. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
