<header class="bg-gray-800 pos  text-white ">
  <nav class="container mx-auto flex items-center justify-between p-4 flex-col md:flex-row">
    <p class="text-2xl font-extrabold">JP</p>
    <ul class="flex pt-5 gap-x-6">
      <li class="font-sans text-base md:text-lg font-semibold hover:text-gray-300 transition duration-300"><a href="#hero">About Me</a></li>
      <li class="font-sans text-base md:text-lg font-semibold hover:text-gray-300 transition duration-300"><a href="#proyectos">Projects</a></li>
      <li class="font-sans text-base md:text-lg font-semibold hover:text-gray-300 transition duration-300"><a href="#habilidades">Skills</a></li>
      <li class="font-sans text-base md:text-lg font-semibold hover:text-gray-300 transition duration-300"><a href="#contacto">Contact</a></li>
    </ul>
  </nav>
</header>