<header>
    <header>
        <h1>Juan Pablo Delgadillo Flores</h1>
        <p>🌌Desarollador de software 🌌</p>
        <nav class="navbar">
            <div class="container">
              <a class="navbar-brand" href="/">Mi Portafolio</a>
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="/proyectos">Proyectos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sobre-mi">Sobre Mí</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contacto">Contacto</a>
                </li>
              </ul>
            </div>
          </nav>
      </header>
     
</header>