<section>
    <article class="about-me">
        <div class="container">
          <div class="about-content">
            <h2>Sobre Mí</h2>
            <p>Hola, soy Juan Pablo Delgadillo Flores. Bienvenido/a a mi espacio en la web.</p>
            <p>¡Inserta aquí una descripción sobre quién eres, tu experiencia, y tus intereses! Puedes contar sobre tus habilidades, proyectos anteriores o cualquier cosa que quieras compartir con tus visitantes.</p>
            <p>Siempre estoy emocionado/a por nuevas oportunidades y proyectos interesantes.</p>
          </div>
          <div class="about-image">
            <img src="#" alt="Tu Nombre" />
            <!-- Ajusta la ruta de la imagen según la estructura de tu proyecto -->
          </div>
        </div>
      </article>
      
</section>