<section>
    <article class="about-me">
        <div class="container">
          <div class="about-content">
            <h2>Sobre Mí</h2>
            <p>Hola, soy Juan Pablo Delgadillo Flores. Bienvenido/a a mi espacio en la web.</p>
            <p>Soy una persona que desde pequeño se convirtio en un amante por la tecnologia, conforme avanza el tiempo</p>
            <p>Siempre estoy emocionado/a por nuevas oportunidades y proyectos interesantes.</p>
          </div>
          <div class="about-image">
            <img src="#" alt="Tu Nombre" />
            <!-- Ajusta la ruta de la imagen según la estructura de tu proyecto -->
          </div>
        </div>
      </article>
      
</section>