<section class="bg-gray-300 py-16">
  <article class="container mx-auto flex flex-col lg:flex-row items-center lg:items-stretch">
      <div class="lg:w-1/2 lg:mr-8">
          <div class="about-content text-center lg:text-left">
              <h2 class="text-4xl font-serif font-bold mb-4 text-gray-800">Sobre Mí</h2>
              <p class="text-lg text-gray-700 mb-4 leading-relaxed">
                  Hello! I am Juan Pablo Delgadillo Flores.
              </p>
              <p class="text-lg text-gray-700 mb-4 leading-relaxed">
                  For over two years, I have been dedicating myself to developing and honing my logical and creative skills in the field of software development. My interest in this area stemmed from my academic pursuit of a degree in Software Development and Management Engineering, and since then, I have discovered a profound passion for programming and significant potential for my professional future.

                  I thoroughly enjoy acquiring new knowledge and am particularly drawn to web technologies. Therefore, I have chosen to specialize in web design and programming. I find great satisfaction in working on projects that demand a combination of technical and creative skills, and I am consistently seeking new challenges to enhance my knowledge and abilities in this field.
              </p>
          </div>
      </div>
      <div class="lg:w-1/2 mt-8 lg:mt-0">
          <div class="about-image">
              <!-- Replace the path of your image in the src attribute -->
              <img src="/img/yomero.jpg" alt="Tu Nombre" class="w-full h-64 object-cover rounded-lg shadow-lg">
          </div>
      </div>
  </article>
</section>
