<section>
    <article class="projects">
        <div class="container">
          <h2>Mis Proyectos</h2>
      
          <div class="project-cards">
            <!-- Primer Proyecto -->
            <div class="card">
              <img src="#" class="card-img-top" alt="Proyecto 1" />
              <div class="card-body">
                <h5 class="card-title">cinamonOveroll</h5>
                <p class="card-text">Sitio web el cual fue elaborado para la venta de rollos de canela, snacks y bebidas</p>
                <a href="#" class="btn +btn-primary">Ver más</a>
              </div>
            </div>
      
            <!-- Segundo Proyecto -->
            <div class="card">
              <img src="#" class="card-img-top" alt="Proyecto 2" />
              <div class="card-body">
                <h5 class="card-title">D'gabibiani</h5>
                <p class="card-text">Seitio web el cual fue elaborado para la venta y renta de trabjes y smokins</p>
                <a href="#" class="btn btn-primary">Ver más</a>
              </div>
            </div>
      
            <!-- Agrega más proyectos según sea necesario -->
          </div>
        </div>
      </article>
</section>