<section id="habilidades" class="bg-gray-300 py-16">
    <article class="container mx-auto">
        <h2 class="text-4xl font-serif font-bold text-gray-800 mb-8 text-center">My Skills</h2>

        <div class="grid grid-cols-2 lg:grid-cols-4 gap-8">
            <!-- JavaScript -->
            <div class="skill-card p-6 shadow-lg hover:shadow-xl transition duration-300 ease-in-out text-center">
                <img src="/img/javascript.png" alt="JavaScript" class="w-16 h-16 mx-auto mb-4" />
                <h5 class="text-xl font-serif font-bold mb-2">JavaScript</h5>
                <div class="progress-bar w-24 h-2 bg-blue-500 mx-auto mt-2"></div>
            </div>

            <!-- HTML -->
            <div class="skill-card p-6 shadow-lg hover:shadow-xl transition duration-300 ease-in-out text-center">
                <img src="/img/html.png" alt="HTML" class="w-16 h-16 mx-auto mb-4" />
                <h5 class="text-xl font-serif font-bold mb-2">HTML</h5>
                <div class="progress-bar w-24 h-2 bg-green-500 mx-auto mt-2"></div>
            </div>

            <!-- React -->
            <div class="skill-card p-6 shadow-lg hover:shadow-xl transition duration-300 ease-in-out text-center">
                <img src="/img/react.png" alt="React" class="w-16 h-16 mx-auto mb-4" />
                <h5 class="text-xl font-serif font-bold mb-2">React</h5>
                <div class="progress-bar w-24 h-2 bg-purple-500 mx-auto mt-2"></div>
            </div>

            <!-- MySQL -->
            <div class="skill-card p-6 shadow-lg hover:shadow-xl transition duration-300 ease-in-out text-center">
                <img src="/img/mysql.png" alt="MySQL" class="w-16 h-16 mx-auto mb-4" />
                <h5 class="text-xl font-serif font-bold mb-2">MySQL</h5>
                <div class="progress-bar w-24 h-2 bg-yellow-500 mx-auto mt-2"></div>
            </div>

            <!-- Astro -->
            <div class="skill-card p-6 shadow-lg hover:shadow-xl transition duration-300 ease-in-out text-center">
                <img src="/img/astro.png" alt="Astro" class="w-16 h-16 mx-auto mb-4" />
                <h5 class="text-xl font-serif font-bold mb-2">Astro</h5>
                <div class="progress-bar w-24 h-2 bg-pink-500 mx-auto mt-2"></div>
            </div>

            <!-- Tailwind CSS -->
            <div class="skill-card p-6 shadow-lg hover:shadow-xl transition duration-300 ease-in-out text-center">
                <img src="/img/tailwind.png" alt="Tailwind CSS" class="w-16 h-16 mx-auto mb-4" />
                <h5 class="text-xl font-serif font-bold mb-2">Tailwind CSS</h5>
                <div class="progress-bar w-24 h-2 bg-cyan-500 mx-auto mt-2"></div>
            </div>
        </div>
    </article>
</section>
